# Lab 01: Getting Started

In this lab, we will walk through configuring Google Colab so that you can download the starter code for each lab, run and edit code, and then save and submit it.

Colab is a cloud-based solution that allows you to run Python and Jupyter notebooks from your browser, without having to configure anything on your personal computer.

Before continuing with this notebook, please first complete this brief tutorial: [Overview of Colab](https://colab.research.google.com/notebooks/basic_features_overview.ipynb)

<hr>

## Command-line

Welcome back!

What Colab does is create a [virtual machine](https://en.wikipedia.org/wiki/Virtual_machine), which is like a fresh install of an operating system made just for you.

This means that in addition to running Python code in this notebook, you can also interact with the command-line as if you were using a terminal to navigate a computer. If you have never used the command-line before, it is worth reading through [this tutorial](https://computers.tutsplus.com/tutorials/navigating-the-terminal-a-gentle-introduction--mac-3855).

Notebooks also allow you to run shell commands by preceding the command with a `!`.

For example, the command below will list the current working directory where this notebook is running.

In [ ]:
!pwd

/content

And the following command will list information about the operating system that this notebook is running on. Note that the `cat` command prints the contents of a file. So, this is printing the contents of all files in the `/etc/` folder that end in the word `release,` which is where Linux distributions store OS information.

In [ ]:
!cat /etc/*release

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.6 LTS"
NAME="Ubuntu"
VERSION="18.04.6 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.6 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

This tells us that we are running Ubuntu, a Linux distribution, and also says what version we're running.

## Downloading starter code

Next, we'll walk through how to download the starter code from the course GitHub repository. The steps are:

1. Mount your personal Google drive inside this virtual machine so you can write to your drive from this notebook.
2. Change the current working directory to the root folder of your Google drive.
3. Clone the repository from GitHub into this folder.

In [ ]:
# Mount our personal google drive. This will pop up a
# confirmation screen giving this notebook access to your Google drive.
# You will first need a gmail account for this to work.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

You should now see the contents of your Google drive by navigating to the folder icon in the left panel. It is viewable at `/content/drive/MyDrive`.

To list the contents of a folder, you can use the `ls` command. This should list the contents of the root folder of your Google drive.

In [ ]:
!ls /content/drive/MyDrive

'Algorithmic Trading and DMA An introduction to direct access trading strategies by Barry Johnson (z-lib.org).pdf'
'Analysis Paper  (1).gdoc'
'Analysis Paper .gdoc'
'Brooklyn B.E.C.s.gslides'
'CH13 Minicase.gsheet'
'CH13 Minicase.xlsx'
 cmps3160
'Colab Notebooks'
'Context Summary .gdoc'
'Discussion Post 2.gdoc'
'Draft 1 Paragraphs.gdoc'
'Draft 3 Paragraphs .gdoc'
 Drafts.gdoc
'Econ Notes.gdoc'
'Emma’s Beacon Essay.gdoc'
'English Blogs.gdoc'
'English Outline Alex.pages'
'Essay Idea Map.gdoc'
'Gabriel Olteanu.docx'
'Getting started.pdf'
'gym email.gdoc'
'Home Alon.gdoc'
'Home Meet Reminders.gdoc'
'Idea Map.gdoc'
'INFO Email.gdoc'
'Inside the black box a simple guide to quantitative and high-frequency trading by Rishi K. Narang (z-lib.org) (1).pdf'
 Interview.gdoc
'June Team Reminders.gdoc'
'Lab 10.gdoc'
 Lab10.gdoc
'Lit Review.gdoc'
'Lit Review Paragraphs.gdoc'
"Mama's email.gdoc"
'Managerial Study Sheet.gdoc'
'MGMT 3010 Team Paper.gdoc'
'MGSC FINAL TOPIC GUIDE.gdoc'
'News Analysis.gdoc'
 Olteanu.gdoc
'OS Presentation.mp4'
'OS Sources.gdoc'
'P2 Comments.gdoc'
'Peer Review Draft.gdoc'
'Powerpoint Notes.gdoc'
'Presentation Notes.gdoc'
'PSYCH NOTES.gdoc'
'Python for Finance Mastering Data-Driven Finance by Yves Hilpisch (z-lib.org).epub'
'Quantitative Trading How to Build Your Own Algorithmic Trading Business (Wiley Trading) by Chan, Ernest P. (z-lib.org).epub'
'quarantine clean ids.gform'
 quiz.gdoc
'Research Article Report #1.gdoc'
'Research Article Report #2.gdoc'
'Research Article Report #3 (1).gdoc'
'Research Article Report #3.gdoc'
'Research Article Report #4 (1).gdoc'
'Research Article Report #4.gdoc'
'Research Paper Proposal.gdoc'
'Research Question.gdoc'
'Social Justice.gdoc'
 SUBMIT.mp4
'Text Summary .gdoc'
'Tides 9 25 Reflection #1.gdoc'
'Topic Idea.gdoc'
'To whoever it may concern, the following is a recount of my family’s experiences during the Coronavirus lockdown in New York City.gdoc'
'Trading and Exchanges Market Microstructure for Practitioners by Larry Harris (z-lib.org).pdf'
'Untitled document (1).gdoc'
'Untitled document (2).gdoc'
'Untitled document (3).gdoc'
'Untitled document (4).gdoc'
'Untitled document (5).gdoc'
'Untitled document (6).gdoc'
'Untitled document (7).gdoc'
'Untitled document (8).gdoc'
'Untitled document (9).gdoc'
'Untitled document.gdoc'
'Untitled form (Responses).gsheet'
'Untitled spreadsheet.gsheet'
'W1 In Class Writing.gdoc'
'W4 and P2.gdoc'
'W5: Step One.gdoc'
'W5: Step Three.gdoc'
'W5: Step Two.gdoc'
'Writing Action Plan.gdoc'

To change the current working directory to be the location of your Google drive, we will issue a `cd` command preceded by the % symbol. The difference between ! and % is that % will actually have a persistent effect on the notebook.

In [ ]:
%cd /content/drive/My Drive

/content/drive/My Drive

In [ ]:
!pwd

/content/drive/My Drive

Our next task is to clone the course repository and store it into our personal Google drive. The course repository is viewable here: <https://github.com/nmattei/cmps3160>.


If you have never used GitHub before, git is one of the most widely used version control management systems today, and invaluable when working in a team. GitHub is a web-based hosting service built around git that supports hosting git repositories, user management, etc. There are other similar services, e.g., BitBucket and GitLab.

We will use GitHub to distribute the assignments, and other class materials. Our use of git/github for the class will be minimal; however, we encourage you to use it for collaboration for your class project, or for other classes, or for anything because it's great. To learn more about GitHub, see [this tutorial](https://docs.github.com/en/get-started/quickstart/hello-world). Note -- you don't need to do that tutorial to complete this notebook.


The main thing we want to do is clone the course files into this Colab virtual machine. To do so, we will issue a `git clone` command. This will copy all the files from the course Github to our drive.

In [ ]:
!git clone https://github.com/nmattei/cmps3160.git

fatal: destination path 'cmps3160' already exists and is not an empty directory.

You should now be able to list the contents of the new folder `/content/drive/My Drive/cmps3160`, which contains all the course code and data.

In [ ]:
!ls cmps3160

404.html      _data	  Gemfile.lock	js	  _projects	syllabus.md
CHANGELOG.md  _demos	  img		_labs	  README.md	tags.html
_config.yml   Dockerfile  _includes	_layouts  resources.md
css	      Gemfile	  index.md	LICENSE   schedule.md

Additionally, if you browse your Google drive as you normally would, you should see the new `cmps3160` folder there.

<br>


Now let's change directories to the cmps3160 folder.

In [ ]:
%cd cmps3160

/content/drive/My Drive/cmps3160

Before starting work on any of the course assignments, it is a good idea to make sure you have the most up-to-date files from GitHub. For example, if on the extremely rare occasion the instructors make a mistake in the starter code (!!), we may push a change to the code on GitHub.

To update your local copy with the latest code, you will use a `git pull` command from any folder within `cmps3160`.

Note that this should have no effect right now, since you just cloned the repository moments ago. So, it should just output `Already up to date`.

In [ ]:
!git pull

Already up to date.

Next, let's change directory to the `_labs/` folder

In [ ]:
%cd _labs
!ls

/content/drive/My Drive/cmps3160/_labs
data	Lab01  Lab03  Lab05  Lab07  Lab09  Lab11  old
images	Lab02  Lab04  Lab06  Lab08  Lab10  Lab12  README.md

The `data` folder contains all the data used for the labs.

In [ ]:
!ls data

ames.tsv  movielens.zip  names.zip  reds.csv  tips.csv	titanic.csv  whites.csv

The next lab will work with the file `titanic.csv`, which contains information on passengers of the ill-fated Titanic passenger ship. You can use the command `head` to see the first ten lines of this file.

In [ ]:
!head data/titanic.csv

﻿pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,,,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,,135,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,,,"Montreal, PQ / Chesterville, ON"
1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.5500,E12,S,3,,"New York, NY"
1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,,"Hudson, NY"
1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0.0000,A36,S,,,"Belfast, NI"
1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,,"Bayside, Queens, NY"

We can see that this is a comma-separated file, where each row contains information on a ship passenger.

## Pandas

Pandas is a Python library that we will be using extensively to store and analyze data. You can find a brief overview of Pandas [here](https://pandas.pydata.org/docs/user_guide/10min.html).

The key data structure in Pandas is the [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html), which is conceptually similar to an Excel spreadsheet.

Below, we import the `pandas` library and read `titanic.csv` into a new DataFrame object called `df`.

We can print the first ten rows of the DataFrame using the `.head()` command.

In [ ]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
# How many rows are there?
len(df)

1309

In the next labs, will work with DataFrames in more detail. For now, please complete the short exercises below and submit your notebook to Canvas,

## Exercises

**1. Change the current working directory to the folder in `cmps3160/_demos/data/`.**

In [ ]:
# TODO: your code here
%cd /content/drive/MyDrive/cmps3160/_demos/data

/content/drive/MyDrive/cmps3160/_demos/data

Expected output:

```
/content/drive/MyDrive/cmps3160/_demos/data
```

**2. List the contents of this directory.**

In [ ]:
# TODO: your code here
!ls

adult.csv      boundry.png  nba_salaries.csv  review_polarity.zip
billboard.csv  iris.csv     nba_stats.csv     titanic.csv
bodyfat.csv    iris.png     religon.csv

Expected output:

```
adult.csv      boundry.png  nba_salaries.csv  review_polarity.zip
billboard.csv  iris.csv     nba_stats.csv     titanic.csv
bodyfat.csv    iris.png     religon.csv
```

**3. Oh look, there's another `titanic.csv` file in here. Read it into a new DataFrame called `df2` and print the first row.**

In [ ]:
# TODO: your code here
df2 = pd.read_csv('titanic.csv')
df2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

**4. DataFrame objects have a  `.describe()` method that summarizing the data. Run it below:**

In [ ]:
# TODO: your code here
df2.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

Expected output:


|       |      pclass |    survived |       age |       sibsp |       parch |      fare |     body |
|:------|------------:|------------:|----------:|------------:|------------:|----------:|---------:|
| count | 1309        | 1309        | 1046      | 1309        | 1309        | 1308      | 121      |
| mean  |    2.29488  |    0.381971 |   29.8811 |    0.498854 |    0.385027 |   33.2955 | 160.81   |
| std   |    0.837836 |    0.486055 |   14.4135 |    1.04166  |    0.86556  |   51.7587 |  97.6969 |
| min   |    1        |    0        |    0.1667 |    0        |    0        |    0      |   1      |
| 25%   |    2        |    0        |   21      |    0        |    0        |    7.8958 |  72      |
| 50%   |    3        |    0        |   28      |    0        |    0        |   14.4542 | 155      |
| 75%   |    3        |    1        |   39      |    1        |    0        |   31.275  | 256      |
| max   |    3        |    1        |   80      |    8        |    9        |  512.329  | 328      |

5. By looking at the output and reading the [method documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) answer the following questions:

**5a. What fraction of passengers survived (rounded to two decimal places)?**
0.38

**5b. What was the median fare (rounded to the nearest dollar)?**
14

In [ ]:
df3 = df2.loc[df2['pclass'] == 1]
df4 = df2.loc[df2['pclass'] == 3]

In [ ]:
len(df3)

323

In [ ]:
len(df4)

709

**5c. Were there more 1st class passengers or 3rd class passengers?**
There were more first class passengers

**TODO: Enter 1st or 3rd here**

**To submit:**

1. File->Download .ipynb
2. Upload the .ipynb file to the appropriate assignment in [Canvas](https://tulane.instructure.com/)